<!doctype html>
<html>
<head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>

<body>

    {% block content %}BODY CONTENT GOES HERE{% endblock %}

    <p>
        <form action="/">
            <input type="submit" value="Home">
        </form>
    </p>

</body>