<!doctype html>
<html>
<head>
     <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
         <link href="static/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% block content %}BODY CONTENT GOES HERE{% endblock %}

        <div class="col">
            <form action="/">
                <input type="submit" value="Home">
            </form>
        </div>
    </div>
</body>