
{% extends '_base.html' %}

{% block title %} Project Info {% endblock %}

{% block content %}
    <h1>{{ title }} : {{ description}}</h1>

    <h4>Max grade: {{ max_grade }}</h4>
    <h4>Students assigned: </h4>

    <table>
    <tr>
        <th>Student github</th>
        <th>Grade</th>
    </tr>
    {% for student in students: %}
    <tr>
        <td><a href="/student?github={{student[0]}}"> {{student[0]}} </a></td>
        <td>{{student[1]}}</td>
    </tr>
    {% endfor%}
    </table>

{% endblock %}